header 
    .header 
      .left_menu
        a(href="#")
          img(src="image/logo-white.webp", alt="Logo").logo
      .right_menu    
        a(href="tel:79500957119").tel +7 950 095 7119
        button.menu_button
          img(src="image/menu.svg", alt="Menu") 
    .main_header       
      .menu_display 
        button.close_button
          img(src="image/photo.png", alt="").close   
        nav 
          ul.nav 
            li.nav-item   
              a(href="#").nav-link Главная 
            li.nav-item   
              a(href="#").nav-link Портфолио 
            li.nav-item   
              a(href="#").nav-link Контакты
        img(src="/src/image/ya.webp", alt="").menu_photo