- let PG = 'Portfolio'
doctype html 
html(lang="en")
 head 
  title= PG  
  style 
    include styles/normilize.css
    include styles/style.css
 body 
  .wrapper
    include modules/header
    .content
      section.section_main
        h1
          .one WEB ДИЗАЙН 
          .two САЙТЫ ПОД КЛЮЧ 
        img(src="/src/image/photo_back1.jpg", alt="").photo_back1
        button.letter НАПИСАТЬ СООБЩЕНИЕ  
        span.pulse_leter__rings
      .spisok
        .spisok-item1.web UX/UI, Веб-дизайн
        .spisok-item.web1 Сайты-визитки
        .spisok-item.web2 Лендинги
        .spisok-item.web3 Многостраничники
        .spisok-item.web4 Интернет-магазины
        .spisok-item.web5 Дизайн в Figma
      img(src="/src/image/Background.png", alt="").fon
      //- .ibg
      //-   img(src="/src/image/portfolio1.png", alt="")
      //-   img(src="/src/image/portfolio1.png", alt="")
      //-   img(src="/src/image/portfolio1.png", alt="")
      //-   img(src="/src/image/portfolio1.png", alt="")
      //-   img(src="/src/image/portfolio1.png", alt="")
      //- .ibg1
      //-   img(src="/src/image/portfolio1.png", alt="")
      //-   img(src="/src/image/portfolio1.png", alt="")
      //-   img(src="/src/image/portfolio1.png", alt="")
      //-   img(src="/src/image/portfolio1.png", alt="")
      //-   img(src="/src/image/portfolio1.png", alt="")  
      .text 
          p.marquee PORTFOLIO - PORTFOLIO - PORTFOLIO - PORTFOLIO - PORTFOLIO - PORTFOLIO - PORTFOLIO
      .text 
          p.marquee1 PORTFOLIO - PORTFOLIO - PORTFOLIO - PORTFOLIO - PORTFOLIO - PORTFOLIO - PORTFOLIO 
      .anima 
          span.krug      
    include modules/footer
  script(src="js/jquery.mini3-6-0.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/smoothscroll/1.4.10/SmoothScroll.min.js" integrity="sha256-huW7yWl7tNfP7lGk46XE+Sp0nCotjzYodhVKlwaNeco=" crossorigin="anonymous")
  script
      include js/script.js